.dashboard {
  padding: 2rem 2rem;
}

.dashboard-img {
  max-width: 100px;
  max-height: 100px;
}

.dashboard-item {
  border: solid;
  border-width: thin;
  padding: 2rem 2rem;
  margin: 2rem 2rem;
  border-color: lightgray;
}
