.home {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ), url("https://static1.squarespace.com/static/56f5d74cc2ea5119892d8174/587800babf629a8b2a3dda8a/587804bfe6f2e18f68132131/1488385528511/Giving.png?format=1500w");
  background-size: cover;
  height: 450px;
  text-align: center;
  padding: 10% 20%;
}

.home-text {
  color: white;
  margin: 2rem;
}

.home-text h1 {
  font-weight: bolder;
}

.lists {
  margin: 2rem 2rem;
}
