.user {
  background-image: url("https://www.banyule.vic.gov.au/files/content/public/services/community-services/community-services.jpg");
  background-repeat: no-repeat;
  background-position: right;
}
