@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  font-family: 'Poppins', sans-serif;
}

.user-profile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -5px;
  margin-right: 10px;
}

.user-button {
  border: none !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.user-button:hover {
  background-color: inherit;
}

.form-location {
  margin: 2rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.btn {
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 1rem 1.75rem;
  border: 1px solid;
  font-weight: bolder;
  margin-left: .5rem;
}

.btn-info {
  background-color: #D3D3D3;
  border-color: #D3D3D3;
}

.btn-info:hover {
  background-color: #78C2AD;
  border-color: #78C2AD;
}

.btn-primary {
  background-color: #e96188;
  border-color: #e96188;
}

.btn-primary:hover {
  opacity: .75;
  background-color: #A60000;
  border-color: #A60000;;
}

.btn-outline-info {
  border-color: #78C2AD;
  color: #20c997;
}

.btn-outline-info:hover {
  background-color: #78C2AD;
  color: white;
}

.btn-outline-danger {
  border-color: #e96188;
  color: #e96188;
}

.btn-outline-danger:hover {
  background-color: #e96188;
  color: white;
}

.navbar-nav {
  position: absolute;
  top: 40%;
  right: 20px;
  list-style: none;
  text-align: center;
}

.nav-item {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 9px;

}

.nav-link {
  text-decoration: none;
  position: relative;
  color: black;
}

.nav-link:hover {
  text-decoration: none;
  color: black;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 0px;
  right: 0;
  background: #e96188;
  transition: width .5s ease;
  -webkit-transition: width .5s ease;
}

.nav-link:hover:after{
  width: 100%;
  left: 0;
  background: #e96188;
}

.nav-item:hover {
  text-decoration: none;
}

.fa-map-marker {
  color: #e96188;
}

.main {
  padding: 3rem 3rem;
}

.form {
  padding: 3rem 3rem;
  width: 50%;
  margin: auto;
}
