@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  padding: 3rem 3rem;
  font-family: 'Poppins', sans-serif;
}
.user-profile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.btn {
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 1rem 1.75rem;
  border: 1px solid;
  font-weight: bolder;
}

.btn-primary {
  background-color: #D3D3D3;
}

.btn-primary:hover {
  background-color: #e96188;
  border-color: #e96188;
}

.btn-info:hover {
  opacity: .75;
  background-color: #D51C38;
  border-color: #e96188;
}

.btn-info {
  background-color: #e96188;
  border-color: #e96188;
}

.navbar-nav {
  position: absolute;
  top: 61%;
  right: 20px;
  list-style: none;
  text-align: center;
}

.nav-item {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 9px;

}

.nav-link {
  text-decoration: none;
  position: relative;
  color: black;
}

.nav-link:hover {
  text-decoration: none;
  color: black;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 0px;
  right: 0;
  background: #e96188;
  transition: width .5s ease;
  -webkit-transition: width .5s ease;
}

.nav-link:hover:after{
  width: 100%;
  left: 0;
  background: #e96188;
}

.nav-item:hover {
  text-decoration: none;
}
